header{
    background-color: #23527c;
    color: #ffffff;
    line-height: 60px;
    overflow: hidden;
}
.title{
    font-size: 34px;
    padding: 6px 18px;
    color: #ffffff;
    background-color: #23527c;
    letter-spacing: 10px;
}
.title:hover{
    color: #ffffff;
    text-decoration: none;
}

footer {
    height: 60px;
    background-color: #263644;
    color: #ffffff;
    padding: 35px;
}
form {
    padding: 20px;
}
form h4 {
    text-align: center;
}
main {
    width: 65%;
    padding: 15px;
}
.leftsidebar {
    background-color: rgba(35, 82, 124, 0.6);
}
.rightsidebar {
    background-color: #FBFBFB;
    border-left: solid 1px silver;
}
.leftsidebar,
.rightsidebar,
.main {
    position: fixed;
    height: 87%;
    overflow-y: auto;
    overflow-x: hidden;
}
body >.container-fluid {

}
.shield{
    padding: 25px;
    background-color: #F9F9F9;
    margin-top: 20px;
    text-align: center;
    border-radius: 6px;

}
.shield-selected {
    background-color: #fff;
    width: 150px;
    margin-right: -21px;
}
.modalTaskInfo{
    width: 1200px;
}

.cdek-form .form-control{
    padding: 1px;
    display: inline;
    width: unset;
}

.cdek-group{
    background-color: white;
    padding: 5px;
    margin: 5px;
}
.cdek-group h3{
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 0;
}
.cdek-group.where{
    background-color: yellowgreen;
}
.cdek-group.who{
    background-color: #f8efc0;
}
.cdek-group.what{
    background-color: #d9edf7;
}
.cdek-group.options{
    background-color: #f1a899;
}

.cdek-group label{
    margin-bottom: 0;
}
.cdek-group.what .form-group{
    margin-bottom: 0;
}
.cdek-group.what .product input{
    width: 112%;
}
.form-group .product {
    background-color: white;
}
.cdek-form .cdek-group input.long{
    width: 240%;
}
.form__captcha{
    display: block;
}

ul.stats{
    list-style-type: none;
    padding: 0;
}
/*.tab-content {
    background-color: antiquewhite;
}*/